#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.appContainer{
  display: flex;
  border: 3px solid #535bf2;
}

img {
  width: 130px;
  height: 130px;
  margin-right: 10px;
}

.imgBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.amountIngredient {
  margin-left: 80px;
}

.btnDelete {
  margin-left: 20px;
  background: red;
}

